.jumbotron
  .container
    %h1 ShortList
    %p From long lists to shortlists.
    = link_to '#', class: 'btn btn-success' do
      Learn more
      = fa_icon 'chevron-right'

.container.bottom_50
  %h2.bottom_30 Sign Up

  .row
    .col-xs-3
      = link_to '#', class: 'btn btn-primary btn-block btn-lg' do
        = fa_icon 'github'
        GitHub
    .col-xs-3
      = link_to '#', class: 'btn btn-primary btn-block btn-lg' do
        = fa_icon 'google-plus-square'
        Google+
    .col-xs-3
      = link_to '#', class: 'btn btn-primary btn-block btn-lg' do
        = fa_icon 'facebook-square'
        Facebook
    .col-xs-3
      = link_to '#', class: 'btn btn-primary btn-block btn-lg' do
        = fa_icon 'vk'
        VK.com


.container
  %h1 How it works
  .panel.panel-default
    .panel-body
      .row.top_20
        .col-xs-4.text-center
          %p= fa_icon 'cubes 4x'
          %p.lead
            Install the <a href="#">browser extension</a>
            %br/
            and create your lists
        .col-xs-4.text-center
          %p= fa_icon 'desktop 4x'
          %p.lead
            Surf the Internet and
            %br/
            bookmark items to your lists
        .col-xs-4.text-center
          %p= fa_icon 'list-alt 4x'
          %p.lead
            Rate your items and
            %br/
            get a shortlist
