!!!
%html{'ng-app' => 'app', lang: 'en'}
  %head
    %title{'ng-bind' => 'title'} ShortList
    %meta{content: 'yes', name: 'apple-mobile-web-app-capable'}
    %meta{content: 'user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}

    = stylesheet_link_tag asset_path('front.css'), media: 'all'
    = csrf_meta_tags

    = yield :js

%body
  #wrapper
    = render 'shared/navbar'
    %ng-view

  %div{growl: ''}
  = render 'shared/footer'

  = javascript_include_tag asset_path('front.js')
