!!!
%html
  %head
    %title ShortList
    = stylesheet_link_tag    asset_path('front.css'), media: 'all'
    = javascript_include_tag asset_path('front.js')
    = csrf_meta_tags

    = yield :js

%body
  = yield
